body{
    font-family: Arial;
    background: #f4f4f4;
}

.container{
    width: 80%;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h1{
    margin-bottom: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table th,
table td{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

img{
    border-radius: 5px;
}

.btn{
    display: inline-block;
    padding: 10px 15px;
    background: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 15px;
    border: none;
}

.edit{
    background: orange;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.hapus{
    background: red;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.kembali{
    margin-left: 10px;
}